@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro.woff') format('woff'),
  url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/GothamPro-Bold.eot');
  src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamPro-Bold.woff') format('woff'),
  url('../fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


:root {
  --shadow--color: 18, 18, 26;
}


*, *:before, *:after {
  color: #333333;

  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent !important;
  -moz-tap-highlight-color: transparent !important;
  -o-tap-highlight-color: transparent !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent !important;
  -moz-tap-highlight-color: transparent !important;
  -o-tap-highlight-color: transparent !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


button {
  outline: none !important;
  border: 0;
  background: transparent;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  @media screen and (max-width: 1200px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1201px) and (max-width: 1600px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1921px) {
    font-size: 20px;
  }
}

html, body {
  font-family: 'Gotham Pro Regular';
  height: 100%;
  background: #F8F9FB;

}

body {
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none;
  transition: .6s ease;
}


ul li {
  list-style: none;
}
ul li:not(.active) {
  transition: margin-top .6s ease;

}

.page {
  overflow: hidden;
  display: flex;
  min-height: 650px;
  height: 100%;
}

.sidebar {
  box-shadow: inset -0.9375rem 0 1.875rem -1.25rem rgba(100, 115, 130, 0.5);
  width: 100%;
  min-width: 30.31%;
  max-width: 31.31%;
  background: #F8F9FB;
  padding-left: 2.4375rem;
  padding-right: 2.75rem;
  position: relative;
  @media screen and (max-width: 1260px){
    width: 100%;
    min-width: 19rem;
    max-width: 20.31%;
  }
  //padding-bottom: 58px;
  &__layout {
    display: none;
    background: rgba(2, 66, 35, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 9;
  }

  &__filter, &__sort, &__add-user, &__slider-btn div svg:hover, &__user-card:hover, &__user-card-checked:hover, li:hover, a:hover {
    transition: .6s ease;
    cursor: pointer;
  }

  &__add-user {
    font-size: 0;
  }

  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.1825rem;

  }

  &__slider {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 15.5rem);
    padding-bottom: 1rem;
  }

  &__slider-track {
    position: relative;
  }

  &__slider-btn {
    display: flex;
    justify-content: center;
    margin-top: 2.3125rem;

    div:first-child {
      margin-right: 2.69rem;
    }
    transition: .6s ease;

  }

  &__slider-btn div svg:hover {
    fill: #01CC6E;
    transition: .6s ease;
    cursor: pointer;
  }
  &__slider-btn div svg {
    transition: .6s ease;
  }

  &__control-list {
    height: fit-content;
    display: flex;
    font-size: 0;

    div:first-child {
      padding-bottom: 0.29rem;
      margin-right: 2.25rem;
    }
  }

  &__user-card:last-child {
    margin: 0 auto;
  }

  &__user-card, &__user-card-checked {
    transition: .6s ease;

    min-height: 14.8vh;
    background: #FFFFFF;
    box-shadow: 0 0.625rem 0.9375rem rgba(145, 145, 145, 0.1);
    border-radius: 1.25rem;
    margin-bottom: 1.69rem;
    @media screen and (max-width: 1260px){
      width: max-content;
      margin: 0 auto 1rem auto;
    }
  }

  &__user-card:hover, &__user-card-checked:hover {
    box-shadow: none;
    transition: .6s ease;
    cursor: pointer;

  }

  &__user-card-checked {
    display: flex;
    position: relative;
    z-index: 3;
    margin-bottom: 1.6rem;
    @media screen and (max-width: 1260px) {
      display: block;
      margin-bottom: 1rem
    }

    svg {
      position: absolute;
      top: 3.5625rem;
      right: 1.6875rem;
    }
  }

  &__checked {
    position: absolute;
    right: 0;
    width: 8.0625rem;
    height: 100%;
    background: linear-gradient(180deg, #00A58F 0%, #00D069 100%);
    box-shadow: 0 0.625rem 0.9375rem rgba(145, 145, 145, 0.1);
    border-radius: 0 1.25rem 1.25rem 0;
    z-index: -1;
    padding-left: 1.875rem;

    svg {
      position: absolute;
      top: 50%;
      left: 64%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }

    @media screen and (max-width: 1260px) {
      display: none;
    }
  }

  &__checked-mobile {
    height: 8vh;
    background: linear-gradient(180deg, #00A58F 0%, #00D069 100%);
    box-shadow: 0 0.625rem 0.9375rem rgba(145, 145, 145, 0.1);
    border-radius: 0 0 1.25rem 1.25rem;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }

    @media screen and (min-width: 1260px) {
      display: none;
    }
  }

  &__avatar {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1260px) {
      padding: 0;
    }
    @media screen and (max-width: 1260px) {
      display: block;
      text-align: center;
    }

    img {
      margin-right: 1.48rem;
      width: 100%;
      max-width: 5.3125rem;
      height: 100%;
      border-radius: 2.5rem;
      object-fit: cover;
      @media screen and (max-width: 1260px) {
        margin: 0;
      }

    }
  }


  &__person, &__person-checked {
    margin-left: .08rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.79rem 2.5375rem 1.675rem 2.45rem;
    @media screen and (max-width: 1260px){
      padding: 1rem
    }
  }

  &__person {
    @media screen and (max-width: 1260px) {
      display: block;
    }
  }

  &__person-checked {
    z-index: 2;
    position: relative;
    background: #FFFFFF;
    border-radius: 1.125rem;
    width: calc(100% - 6rem);
    padding: 1.5rem 2.4375rem 1.675rem 2.45rem;
    @media screen and (max-width: 1260px) {
      justify-content: center;
      width: 100%;
      padding: 1rem
    }
  }

  &__info-checked {
    margin-top: .2rem;
  }

  &__name {
    letter-spacing: .016rem;
    margin-bottom: 0.81rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1.375rem;
    line-height: 1.3125rem;
  }

  &__position {
    margin-left: .15rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.0625rem;
  }
}

.content {
  display: block;
  width: 100%;
  padding: 12.57vh 5.2vw 15vh 7.4vw;
  margin: auto;
  position: relative;
  @media screen and (max-width: 900px) {
    padding: 3rem;
  }

  &__mobile {
    position: relative;
  }

  &__full-progress {
    width: 39.125rem;
    height: 1.875rem;
    background: linear-gradient(90deg, rgba(1, 169, 140, 0.12) 0%, rgba(0, 207, 106, 0.12) 100%);
    border-radius: 1.25rem;
  }

  &__line {
    width: 77%;
    height: 1.875rem;
    background: linear-gradient(90deg, #00A98C 23.39%, #00CF6A 80.15%);
    border-radius: 1.25rem;
  }

  &__main, &__personal {
    padding-left: .8%;
    margin-top: .3rem;
    font-size: 1.375rem;
  }

  &__personal div {
    display: flex;

    div {
      display: grid;
    }

    div:nth-child(1) {
      width: 11.875rem;
      font-weight: 600;

      span:nth-child(2) {
        margin-top: 2.9rem;
      }

      span:nth-child(3) {
        margin-top: 4.3rem;
        line-height: 1.625rem;
        letter-spacing: 0.06rem;
      }
    }

    div:nth-child(2) {
      span:nth-child(2) {
        margin-top: .3rem;
        width: 90%;
        line-height: 1.625rem;
      }

      div {
        display: flex;
        align-items: center;
      }
    }
  }

  &__main ul li span:nth-child(1) {
    display: inline-block;
    width: 9.75rem;
    margin-bottom: 2.9375rem;
  }

  &__main ul li span:nth-child(1) {
    width: 11.1rem;
  }

  &__main ul li span:nth-child(1) {
    font-weight: 600;
  }

  &__account {

    position: relative;
    display: flex;
    z-index: 3;
    @media screen and (max-width: 991px) {
      display: block;
    }
  }

  &__avatar {

    z-index: 2;
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 42vh;
    min-width: 20rem;
    @media screen and (max-width: 1200px) {
      max-width: 26%;
      min-width: 13rem;
    }
    img {
      object-fit: cover;
      border-radius: 0.625rem;
      width: 100%;
      @media screen and (max-width: 991px) {
        img {
          width: 50%;
        }
      }

    }

  }

  &__progress-account {
    max-width: 39.2rem;
    width: 100%;
    position: relative;
    margin-left: 2.23rem;
    margin-top: .9rem;
    @media screen and (max-width: 991px) {
      text-align: center;
      margin: 0 auto;
      position: absolute;
      bottom: 74%;
      max-width: 57%;
      right: 6%;
    }

    p {
      margin-bottom: 1.65rem;
      @media screen and (max-width: 991px) {
        margin-bottom: 4rem;
      }
    }
  }

  &__progress-bar {
    width: 100%;
    margin-left: .1rem;
    max-width: 39.125rem;
    height: 1.875rem;
    background: linear-gradient(90deg, rgba(1, 169, 140, 0.12) 0%, rgba(0, 207, 106, 0.12) 100%);
    border-radius: 1.25rem;
    @media screen and (max-width: 991px) {
      margin: 0 auto;
    }
  }

  &__tooltip {
    position: absolute;
    top: -0.9rem;
    left: 71%;


    @media screen and (max-width: 991px) {
      top: 1.1rem;
    }

    &--percentage {
      font-size: 1.125rem !important;
    }
  }

  &__info {
    margin-left: 8.7%;
    padding-left: 18.4vw;
    padding-bottom: 19.8%;
    background: #F8F9FB;
    box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.2);
    border-radius: 0.625rem;
    position: absolute;
    max-width: 61.3125rem;
    width: -webkit-fill-available;
    min-height: 25rem;
    height: 83%;
    top: 20%;
    @media screen and (min-width: 992px) and (max-width: 1200px){
      height: -webkit-fill-available;
    }
    @media screen and (min-width: 992px) and (max-width: 1200px){
      top: 29%;
    }
    @media screen and (max-width: 991px) {
      margin-left: 0;
      position: unset;
      padding: 2rem;
    }
  }

  &__navbar {
    padding-right: 2.25rem;
    padding-top: 1.7rem;
    padding-bottom: .25rem;
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
    @media screen and (max-width: 991px) {
      padding-right: 0;
      padding-top: 0;
    }

    ul {
      display: flex;
      align-items: center;

      li {
        padding-top: .2rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;

        text-align: center;


        margin-right: 31.5%;

        position: relative;
      }

      li:not(.active):hover {
        margin-top: -0.455rem;
        position: relative;
        transition: .6s ease;
        cursor: pointer;

      }
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
  }

  &__tabs-content {
    display: flex;
    justify-content: space-between;
    margin-left: -0.3125rem;
    padding-right: 5%;
    @media screen and (max-width: 991px) {
      padding: 0;
    }
    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }
  }

  &__stack {
    text-align: center;

    p {
      margin-top: .9rem;
      font-style: normal;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.7375rem;
    }
  }

  &__all-photos {

    margin-top: 1.4rem;
    margin-left: 5.4vw;
    width: 100%;
    @media screen and (max-width: 991px) {
      margin: 1rem auto;
      text-align: center;
      display: flex;
    }

    &__active {
      border: 0.1875rem solid #01CE6B;
    }

    img {
      transition: .6s ease;
      margin-left: 1.2rem;
      width: 19.4%;
      height: 100%;
      border-radius: 100%;
      position: relative;
      @media screen and (max-width: 991px) {
        width: 23%;
      }
      bottom: 0;
    }

    img:hover {
      transition: bottom .6s ease;
      cursor: pointer;
      bottom: 0.3125rem;
    }
  }
}

.modal {
  display: none;
  padding: 7vh 5rem 4vh 4.95rem;
  width: 100%;

  @media screen and (max-height: 750px){
    height: 3vh;
  }
  @media screen and (max-height: 600px){
    margin: auto;
    height: auto;
  }
  &__nav {
    max-height: 5.8vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      h1 {
        font-size: 2.125rem;
        line-height: 2.0625rem;
        letter-spacing: 0.017rem;
      }
    }
  }

  &__title {
    width: 100%;
  }

  &__control {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    div svg {
      margin-left: 3.25rem;
      cursor: pointer;

    }

    button {
      cursor: pointer;
      transition: .6s ease;
      min-height: 2.5rem;
      max-width: 13.8rem;
      width: 100%;
      margin-left: auto;
      height: 100%;


      background: #28B46F;
      box-shadow: 0 0.625rem 0.9375rem rgba(144, 144, 144, 0.2);
      border-radius: .5rem;


      letter-spacing: 0.1rem;
      font-weight: 500;
      font-size: 1.375rem;

      color: #FFFFFF;
    }

    button:hover {
      cursor: pointer;
      transition: .6s ease;
      box-shadow: none;
    }
  }

  &__steps {
    display: flex;
    margin-top: 8vh;
    margin-left: 0.13rem
  }

  &__step {
    cursor: pointer;
    transition: .6s ease;

    position: relative;
    margin-right: 9.7%;
    width: 18.1%;

    height: 7.4rem;

    background: #FFFFFF;
    border-radius: .5rem;

    box-shadow: -0.625rem 0 2.5rem -1.0625rem rgba(0, 0, 0, 0.2);

    div {
      height: 100%;
      position: absolute;
      top: 73%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
    }


    div p:nth-child(1) {
      margin-bottom: .7rem;
      font-weight: 600;
      font-size: 2.125rem;

      color: #000000;
    }

    div p:nth-child(2) {
      margin-left: .1rem;
      font-style: normal;
      font-weight: normal;
      font-size: 1.375rem;
    }
  }

  &__step:hover {
    cursor: pointer;

    transition: .6s ease;
    box-shadow: none;
  }

  &__drop-items {
    display: flex;
    justify-content: space-between;
  }

  &__drop {

    position: relative;
    max-width: 28.2%;

    height: 27.5vh;
    width: 100%;
    min-height: 10rem;

    background-color: #F5F5F5;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: rgba(196,196,196, 0.8); stroke-width: 4; stroke-dasharray: 10 12'/></svg>");

    margin-top: 3vh;
    @media screen and (max-width: 1200px) {
      height: 18vh;
    }

    svg {
      transition: .6s ease;

      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
    }

    &__image {
      max-width: 29.4%;
      background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: rgba(0,207,106, 0.8); stroke-width: 4; stroke-dasharray: 10 12'/></svg>");

      img {
        width: 94%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        height: 94%;
        object-fit: contain;
      }
    }

  }

  &__drop:hover {
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: rgba(0,207,106, 0.8); stroke-width: 4; stroke-dasharray: 10 12'/></svg>");

    svg {
      transition: .6s ease;

      top: 6.6875rem;
    }
  }

  &__add-photo {
    margin-top: 6.6vh;
    letter-spacing: -.06rem;
  }

  &__form {
    margin-top: 6.6vh;

    h1 {
      letter-spacing: -.06rem;
    }
  }

  &__inputs {
    margin-top: 3.5vh;
    margin-left: .1rem;
    display: flex;
    justify-content: space-between;
  }

  &__input-wrapper {
    width: 100%;
    max-width: 28.8%;
  }

  &__input-wrapper &__input-data {
    height: 7.6vh;
    min-height: 3.3rem;
    width: 100%;
    position: relative;

  }

  &__input-wrapper &__input-data input {
    background: transparent;
    border: 0.0625rem solid #9A9A9A;
    border-radius: 0.625rem;
    height: 100%;
    width: 100%;
    border-bottom: 0.125rem solid silver;
    padding-left: 1.8rem;
    font-size: 1.4rem;
    letter-spacing: 0.067rem;
  }

  &__input-data input:focus ~ label,
  &__input-data input:valid ~ label {
    top: 4%;
    font-size: 0.875rem;
    color: #2B2B2B;
  }

  &__input-data input:focus,
  &__input-data input:valid {
    border-color: #00CF6A;
  }

  &__input-wrapper &__input-data label {
    position: absolute;
    left: 0;
    transform: translate(1rem, -50%);
    top: 50%;
    background: #F8F9FB;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 9;
    padding: 0 0.375rem;
    border-radius: 0.625rem;
    font-size: 1.375rem;
    line-height: 1.3125rem;
    color: #000;
  }
}


.vertical-separator {
  border-left: 0.0625rem solid #F0F0F0;
  height: 2.5rem;
  margin-right: 0.75rem;
}

.separator {
  margin-top: 0.49rem;
  border: 0.0625rem solid #F0F0F0;
  margin-bottom: 3.25rem;
}

.content-separator {
  margin-top: 0.3rem !important;
  margin-bottom: 2.6rem;
}

.flex-wrapper {
  display: flex;
  justify-content: flex-end;
  flex-flow: row nowrap;
}

.single-chart {
  justify-content: space-around;
}

.circular-chart {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 5.5rem;
  max-height: 5.7rem;
}

.circular-chart-info {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 9.9rem;
  max-height: 9.7rem;
  height: -webkit-fill-available;

}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: .7;
}

.circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  transform-origin: center;
  animation: progress 1s ease-out forwards;
  @media screen and (max-width: 1260px) {
    display: flex;
    justify-content: center;
  }
}

.circle-anti {
  animation: antiprogress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0, 100;
  }
}

@keyframes antiprogress {
  0% {
    stroke-dasharray: 0, 100;
    transform: rotate(0deg);
  }
}

.circular-chart.orange .circle, .circular-chart-info.orange .circle {
  stroke: #f80;
}

.circular-chart.green .circle, .circular-chart-info.green .circle {
  stroke: #00c851;
}

.circular-chart.red .circle, .circular-chart-info.red .circle {
  stroke: #ff3547;
}

.percentage {
  fill: #333333;
  font-family: 'Gotham Pro Bold';
  font-size: 0.58rem;
  text-anchor: middle;
}

hr {
  width: 0.1875rem;
  height: 3.125rem;
  margin: .5rem auto 0;
  border-radius: 0.625rem;
}

.hr-red {
  background: #ff3547;
  border: 0.0625rem solid #ff3547;
}

.active {
  top: .7rem;
  text-decoration: none;
  border-bottom: 0.25rem solid #00CF6A;
  padding-bottom: 1.04rem;
}

.shadow-box {
  display: flex;
  transition: .6s ease;

}

.shadow-box:hover {
  transition: .6s ease;
  cursor: pointer;
  font-size: 0;
  box-shadow: 0 0.3125rem 0.625rem rgba(144, 144, 144, 0.35);
  border-radius: 50%;
}

